.body {
    background-color: #a5a9b3;
}

.handle {
    background-color: black;
    width: 30px;
    margin-left: 8vw;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 10;

    font-family: 'Patrick Hand SC', cursive;
    font-size: 80px;
    line-height: 80px;
    color: #000000;
}

.sub-text {
    display: flex;
    justify-content: center;
    margin-top: 0;

    font-family: 'Patrick Hand SC', cursive;
    font-size: 30px;
    line-height: 35px;
    color: #2a2a2a;
}

.text1 {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-left: 30vw;
    margin-right: 30vw;
    padding: 12px;

    font-family: 'Patrick Hand SC', cursive;
    font-size: 30px;
    line-height: 35px;
    color: #2a2a2a;

    background-color: rgb(249, 239, 149);
}

.text2 {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-left: 30vw;
    margin-right: 30vw;
    padding: 12px;

    font-family: 'Patrick Hand SC', cursive;
    font-size: 30px;
    line-height: 35px;
    color: #2a2a2a;

    background-color: rgb(249, 239, 149);
}

.button {
    font-family: 'Times';
    font-size: 17px;
    line-height: 27px;
    color: #000000;

    background-color: #ECEBD9;
    outline: none;
    border: none;
    margin: 10px;
}

.text-submit {
    display: flex;
    justify-content: center
}

.other-button {
    display: flex;
    justify-content: center;
}

.reset-button {
    display: flex;
    justify-content: center
}

.container {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid black;
    background-size: cover;
}